certifi==2020.12.5
chardet==4.0.0
docopt==0.6.2
elasticsearch==7.6.0
idna==2.10
pika==1.1.0
python-dateutil==2.8.1
PyYAML==5.4.1
git+https://github.com/cedadev/rabbit-index-ingest.git@bf421f3#egg=rabbit_indexer
git+https://github.com/cedadev/ceda-elasticsearch-tools@f7cd0ab#egg=ceda_elasticsearch_tools
requests==2.25.1
six==1.15.0
tqdm==4.57.0
urllib3==1.26.3
